Repository dderyldowney/afs_fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, isort, black, mypy-app, mypy-tests

ruff:
  name: Ruff (lint)
  entry: ruff check
  language: system

isort:
  name: isort (imports check)
  entry: isort
  args:
  - --check-only
  language: system

black:
  name: Black (formatting)
  entry: black
  args:
  - --check
  language: system

mypy-app:
  name: MyPy (app)
  entry: mypy afs_fastapi
  language: system
  pass_filenames: false

mypy-tests:
  name: MyPy (tests)
  entry: mypy tests
  language: system
  pass_filenames: false

chore: Fixed versioning information for AFS. Forgot to move to new 0.1.6
  afs_fastapi/version.py
Due: ruff, isort, black, mypy-app

chore(update): Updated generate)summary.py
  generate_summary.py
Due: ruff, isort, black

docs(update): Updated online docs and README to reflect current version of 0.1.6
  README.md
  docs/index.html
  docs/strategic/WHERE_WE_ARE.md
Due: none

feat: Update CAN communication and project documentation
  ToDoWrite/todos.db
  afs_fastapi/main.py
Due: ruff, isort, black, mypy-app

build: Update pyproject.toml for v0.1.6
  pyproject.toml
Due: none

fix: Complete ToDoWrite API integration and testing
  ToDoWrite/todos.db
  afs_fastapi/api/endpoints/todos.py
  tests/api/test_todos.py
Due: ruff, isort, black, mypy-app, mypy-tests

refactor: Complete Python 3.12+ modernization and type system upgrade
  .claude/hooks/changelog_enforcement.py
  CONTRIBUTING.md.bak
  ToDoWrite.md.bak
  afs_fastapi/core/can_frame_codec.py
  afs_fastapi/core/can_hal.py
  afs_fastapi/core/j1939_specs.py
  afs_fastapi/database/__init__.py
  afs_fastapi/database/agricultural_archiving.py
  afs_fastapi/database/can_data_retention.py
  afs_fastapi/database/can_message_buffer.py
  afs_fastapi/database/can_time_series_storage.py
  afs_fastapi/equipment/adaptive_bandwidth_management.py
  afs_fastapi/equipment/can_bus_manager.py
  afs_fastapi/equipment/congestion_detection.py
  afs_fastapi/equipment/critical_tractor_data_handlers.py
  afs_fastapi/equipment/message_queue_optimization.py
  afs_fastapi/equipment/physical_can_interface.py
  afs_fastapi/equipment/socketcan_linux.py
  afs_fastapi/protocols/isobus_handlers.py
  afs_fastapi/services/collision_avoidance_system.py
  afs_fastapi/services/communication_loss_failsafe.py
  afs_fastapi/services/emergency_stop_propagation.py
  afs_fastapi/services/field_allocation.py
  afs_fastapi/stations/__init__.py
  afs_fastapi/stations/station_types.py
  conftest.py
  docs/strategic/PROJECT_CONTEXT.md.bak
Due: ruff, isort, black, mypy-app

auto: Quality-validated pause - Quality validation after resume
  .claude/pause_points.json
  SESSION_SUMMARY.md
Due: none

auto: Quality-validated pause - Python 3.12+ modernization completed
  afs_fastapi/api/endpoints/todos.py
  afs_fastapi/database/__init__.py
  conftest.py
Due: ruff, isort, black, mypy-app

auto: Quality-validated pause - Quality validation after resume
  .claude/pause_context_pause_6.md
  .claude/pause_points.json
  SESSION_SUMMARY.md
  ToDoWrite/todos.db
  bin/loadsession
  bin/resume-from
Due: none

feat(pause-management): Mark all pause points and checkpoints as completed
  .claude/checkpoints.json
  .claude/pause_context_pause_7.md
  .claude/pause_points.json
Due: none

feat(pause-management): Implement comprehensive pause point status management system
  bin/pause-complete
  bin/pause-status
  bin/pause-update
Due: none

feat(session-completion): Complete pause point management and session restoration
  .claude/pause_context_pause_8.md
  SESSION_SUMMARY.md
Due: none

feat(checkpoint-management): Implement dedicated checkpoint status management tools
  bin/checkpoint-complete
  bin/checkpoint-status
  bin/checkpoint-update
Due: none

feat(can): Implement portable CAN communication HAL
  afs_fastapi/equipment/can_bus.py
  tests/test_can_communication.py
Due: ruff, isort, black, mypy-app, mypy-tests

feat: Implement CAN HAL with mock interface support
  CHANGELOG.md 2.bak
  CHANGELOG.md 3.bak
  CHANGELOG.md 4.bak
  tests/test_portable_can_communication.py
Due: ruff, isort, black, mypy-tests

feat: Add script to reset ToDoWrite database
  bin/reset-todowrite-database
Due: none

docs: Update changelog
  CHANGELOG.md
Due: none

fix: Fix strategic-pause and strategic-resume scripts
  bin/strategic-pause
  bin/strategic-resume
Due: none

chore(fix): Fixed incorrect library calls in Makefile
  Makefile
Due: none

refactor: Remove user-specific files from repository tracking
  .gitignore
  ToDoWrite/todos.db
Due: none

security: Resolve critical pip vulnerability CVE-2025-8869
  requirements.txt
Due: none

fix: Remove duplicate entries from CHANGELOG.md
  CHANGELOG.md
Due: none

refactor: Reconfigure AFS FastAPI to use standalone ToDoWrite package
  pyproject.toml
  requirements.txt
  todowrite.db
Due: none

cleanup: Remove ToDoWrite documentation files and add gitignore
  .gitignore
  PROPOSED_TODOWRITE_IMPLEMENTATION.md
  TODOWRITE_FLEXIBLE_HIERARCHY_PROOF.md
  ToDoWrite-HOWTO.md
  ToDoWrite.md
  ToDoWrite.md.bak
  todowrite.db
Due: none

docs(todowrite): Add comprehensive 12-layer architecture documentation
  ToDoWrite.md
Due: none

docs(todowrite): Create comprehensive standalone package and Python module usage guide
  ToDoWrite-HOWTO.md
Due: none

docs: Complete comprehensive documentation accuracy and modernization overhaul
  CHANGELOG.md
  CONTRIBUTING.md
  DOCUMENTATION_RECOMMENDATIONS.md
  README.md
  WORKFLOW.md
  afs_fastapi/api/endpoints/todos.py
  docs/README.md
  frontend/farm-ui/README.md
Due: ruff, isort, black, mypy-app

fix: Correct ToDoWrite API calls in loadsession script
  bin/loadsession
Due: none

fix: Complete ToDoWrite Node API compatibility across core management scripts
  bin/savesession
  bin/strategic-list
  bin/strategic-status
  bin/strategic-status-brief
Due: none

docs: Update session state documentation for infrastructure completion
  SESSION_STATE_DOCS_UPDATE.md
Due: none

feat(api): Complete Phase 1 FastAPI Agricultural Automation Platform implementation
  afs_fastapi/api/endpoints/equipment.py
  afs_fastapi/api/endpoints/fleet.py
  afs_fastapi/api/endpoints/safety.py
  afs_fastapi/main.py
  bin/savesession
Due: ruff, isort, black, mypy-app

refactor(todowrite): migrate from embedded to standalone Python module
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPER_NOTES.md
  GEMINI.md
  Makefile
  ToDoWrite-HOWTO.md
  ToDoWrite.md
  bin/reset-todowrite-database
  bin/todowrite-commands
  bin/todowrite-save
Due: none

feat(todowrite): implement database preference order configuration
  .env.example
  .gitignore
  .pre-commit-config.yaml
  Makefile
  afs_fastapi/api/endpoints/todos.py
  afs_fastapi/core/todowrite_config.py
  bin/formatall
  bin/goal-status
  bin/phase-status
  bin/step-status
Due: ruff, isort, black, mypy-app

fix(structure): resolve duplicate module name errors and standardize package structure
  .pre-commit-config.yaml
  afs_fastapi/__init__.py
  afs_fastapi/api/endpoints/__init__.py
  afs_fastapi/api/main.py
  afs_fastapi/core/__init__.py
  afs_fastapi/main.py
  afs_fastapi/models/__init__.py
  afs_fastapi/models/field_segment.py
  afs_fastapi/models/fleet_messages.py
  afs_fastapi/protocols/__init__.py
  afs_fastapi/services/crdt_manager.py
  bin/formatall
  models/__init__.py
Due: ruff, isort, black, mypy-app

fix(api): resolve TodoWrite API integration issues and test failures
  CHANGELOG.md
  afs_fastapi/api/endpoints/todos.py
  tests/api/test_todos.py
Due: ruff, isort, black, mypy-app, mypy-tests

docs: Restore README.md from v0.1.6 tag with enhanced documentation
  AGENT_OPTIMIZATION.md
  CLAUDE_AUTO_GUIDE.md
  CLAUDE_WORKFLOW.py
  INSTALLATION_GUIDE.md
  MIGRATION_CHECKLIST.md
  README.md
  TOKEN_README.md
  always_token_sage.py
  auto_agent.py
  claude_auto_setup.sh
  token_optimized_agent.py
Due: ruff, isort, black

feat(token-sage): Complete automatic integration for maximum efficiency
  .claude/.agent_registry.json
  .claude/hooks/session_initialization.py
  .token-sage-env
  CLAUDE.md
  CLAUDE_SUBAGENTS_PACKAGE/.claude_auto_init.py
  CLAUDE_SUBAGENTS_PACKAGE/.claude_init.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_AUTO_GUIDE.md
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/.claude_auto_init.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/.claude_init.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_AUTO_GUIDE.md
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_WORKFLOW.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/always_token_sage.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/auto_agent.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/claude_auto_setup.sh
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/hal_agent_loop.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/hal_token_savvy_agent.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/token_optimized_agent.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_WORKFLOW.py
  CLAUDE_SUBAGENTS_PACKAGE/always_token_sage.py
  CLAUDE_SUBAGENTS_PACKAGE/auto_agent.py
  CLAUDE_SUBAGENTS_PACKAGE/claude_auto_setup.sh
  CLAUDE_SUBAGENTS_PACKAGE/hal_agent_loop.py
  CLAUDE_SUBAGENTS_PACKAGE/hal_token_savvy_agent.py
  CLAUDE_SUBAGENTS_PACKAGE/token_optimized_agent.py
  INSTALLATION.md
  bin/activate-token-sage
  bin/test-token-sage-integration
  bin/token-sage-setup.sh
  bin/token-sage-status
  docs/implementation/TOKEN_SAGE_AUTOMATIC_INTEGRATION.md
  hal_agent_loop.py
  hal_token_savvy_agent.py
Due: ruff, isort, black

Path conditions:
  ruff: any of: ^(?!bin/|tmp_).* and \.py$
  isort: any of: ^(?!bin/|tmp_).* and \.py$
  black: any of: ^(?!bin/|tmp_).* and \.py$
  mypy-app: any of: ^afs_fastapi/.*\.py$ and \.py$
  mypy-tests: any of: ^tests/.*\.py$ and \.py$
