Repository dderyldowney/afs_fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatall, mypy-app, mypy-tests

formatall:
  name: Format and Lint (Black, isort, Ruff)
  entry: bin/formatall
  language: system
  pass_filenames: false

mypy-app:
  name: MyPy (app)
  entry: mypy afs_fastapi/api/ afs_fastapi/core/ afs_fastapi/database/ afs_fastapi/monitoring/ afs_fastapi/equipment/ afs_fastapi/services/ afs_fastapi/models/ afs_fastapi/protocols/ afs_fastapi/safety/ afs_fastapi/scripts/ afs_fastapi/stations/
  language: system
  pass_filenames: false

mypy-tests:
  name: MyPy (tests)
  entry: mypy tests/
  language: system
  pass_filenames: false

refactor: Clean up CLAUDE_SUBAGENTS_PACKAGE directory structure
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/.claude_auto_init.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/.claude_init.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_AUTO_GUIDE.md
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_WORKFLOW.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/always_token_sage.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/auto_agent.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/claude_auto_setup.sh
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/hal_agent_loop.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/hal_token_savvy_agent.py
  CLAUDE_SUBAGENTS_PACKAGE/CLAUDE_SUBAGENTS_PACKAGE/token_optimized_agent.py
  docs/implementation/TOKEN_SAGE_AUTOMATIC_INTEGRATION.md
Due: formatall

feat(token-sage): Complete automatic integration implementation
  .claude/.agent_registry.json
  .claude/context/session_state.json
  .claude/conversation_config.json
  .claude/hooks/session_initialization.py
  always_token_sage.py
  bin/verify-automatic-token-sage.py
  docs/AUTOMATIC_TOKEN_SAGE_LOADING.md
Due: formatall

feat(hooks): Configure automatic loadsession execution for new sessions
  .claude/.agent_registry.json
Due: none

fix(gitignore): Add .agent_registry.json to ignored files
  .claude/.agent_registry.json
  .gitignore
Due: none

fix(api): Resolve MyPy type annotation errors in TodoWrite endpoints
  afs_fastapi/api/endpoints/todos.py
Due: formatall, mypy-app

feat(api): Complete Phase 3 implementation and quality improvements
  CHANGELOG.md
Due: none

feat(config): Mandate comprehensive local toolset usage for all AI agents
  AGENTS.md
  bin/runtests-optimized
Due: none

perf(test): Implement 4.9x faster pytest optimization for agricultural robotics
  bin/runtests
  bin/runtests-optimized
  pyproject.toml
  tests/unit/equipment/test_socketcan_linux.py
  tests/unit/services/test_ai_processing_pipeline_optimization.py
Due: formatall, mypy-tests

refactor(build): Modernize Python packaging with Hatch dynamic versioning
  CHANGELOG.md 2.bak
  CHANGELOG.md 3.bak
  CHANGELOG.md 4.bak
  CONTRIBUTING.md.bak
  README.md
  docs/strategic/PROJECT_CONTEXT.md.bak
  docs/strategic/WHERE_WE_ARE.md
  pyproject.toml
Due: none

docs: Add Claude and TodoWrite database files to gitignore
  .claude/conversation_config.json
  .gitignore
  ToDoWrite/todos.db
Due: none

feat(version): Update version to v0.1.7 for release
  afs_fastapi/version.py
Due: formatall, mypy-app

chore(gitignore): Add .claude/conversation_config.json to ignore user-specific local configuration
  .gitignore
Due: none

feat(session): Implement unified loadsession with token optimization
  .claude/commands/loadsession.md
  bin/loadsession
  bin/loadsession-optimized
  bin/test-token-reduction
  temp_changelog.txt
  tmp_scripts/fix_todos_duplicates.py
  tmp_scripts/generate_summary.py
  tmp_scripts/tractor_demo.py
Due: none

fix(api): Update TodoWrite API test paths to use correct endpoint prefixes
  .claude/context/session_state.json
  API_MODERNIZATION_SUMMARY.md
  CHANGELOG.md
  afs_fastapi/api/core/error_handling.py
  afs_fastapi/api/core/response_models.py
  afs_fastapi/api/core/validation_schemas.py
  afs_fastapi/api/docs/API_DOCUMENTATION.md
  afs_fastapi/api/endpoints/__init__.py
  afs_fastapi/api/endpoints/ai_processing.py
  afs_fastapi/api/endpoints/equipment.py
  afs_fastapi/api/endpoints/monitoring.py
  afs_fastapi/api/main.py
  afs_fastapi/core/enhanced_can_validator.py
  afs_fastapi/database/agricultural_schemas_async.py
  afs_fastapi/database/async_repository.py
  afs_fastapi/database/connection_pool.py
  afs_fastapi/database/enhanced_time_series_storage.py
  afs_fastapi/database/optimized_db_config.py
  afs_fastapi/equipment/agricultural_can_protocols.py
  afs_fastapi/monitoring/async_token_usage_logger.py
  afs_fastapi/monitoring/enhanced_token_usage_logger.py
  afs_fastapi/services/ai_processing_manager.py
  bin/runtests
  docs/async_database_implementation.md
  docs/database/DATABASE_ARCHITECTURE_OPTIMIZATION.md
  pyrightconfig.json
  requirements.txt.backup
  scripts/benchmark_async_database.py
  scripts/demo_async_database_improvements.py
  scripts/migrate_to_async_database.py
  scripts/verify_async_components.py
  test_optimized_database.db
  tests/api/test_modernized_api.py
  tests/api/test_todos.py
  tests/integration/test_database_architecture_optimization.py
  tests/unit/core/test_enhanced_can_validator.py
  tests/unit/database/test_async_agricural_schemas.py
  tests/unit/equipment/test_agricultural_can_protocols.py
  verify_async_implementation.py
Due: formatall, mypy-app, mypy-tests

perf(monitoring): Enhanced token usage logging optimization
  afs_fastapi/monitoring/enhanced_token_usage_logger.py
  tests/integration/test_database_architecture_optimization.py
Due: formatall, mypy-app, mypy-tests

feat(version): Update version to 0.1.7
  afs_fastapi/version.py
Due: formatall, mypy-app

fix(tests-resolve): Resolve import and database configuration issues
  afs_fastapi/api/endpoints/todos.py
  afs_fastapi/core/todowrite_config.py
  afs_fastapi/database/agricultural_schemas_async.py
  bin/create-missing-commands.py
  tests/database/test_async_agricural_schemas.py
Due: formatall, mypy-app, mypy-tests

docs: Comprehensive documentation update and CHANGELOG optimization
  .claude/context/essential.md
  .claude/context/session_state.json
  CHANGELOG.md
  README.md
  bin/loadsession
  docs/monitoring/SESSION_SUMMARY.md
  docs/processes/CHANGELOG_MANAGEMENT.md
  docs/strategic/PROJECT_CONTEXT.md
Due: none

docs: Create comprehensive FUTURE_ENHANCEMENTS.md roadmap
  FUTURE_ENHANCEMENTS.md
Due: none

feat(agent-enforcement): Add AI Agent Enforcement package
  .agent_config.py
  AGENT_ENFORCEMENT_PACKAGE.py
  AGENT_ENFORCEMENT_SYSTEM.md
  DEPLOY.sh
  KIS_DIRECTIVE.md
  PROJECT_INTEGRATION_GUIDE.md
  QUICK_DEPLOY.py
  SETUP_INSTRUCTIONS.md
  __agent_enforcer__.py
  agent_config.py
  deploy_agent_enforcement.sh
  setup_agent.py
  sitecustomize.py
Due: formatall

feat(loadsession): Integrate agent enforcement system status
  bin/loadsession
Due: none

fix(api-endpoints): Resolve Ruff formatting issues in API endpoints
  afs_fastapi/api/endpoints/ai_processing.py
  afs_fastapi/api/endpoints/equipment.py
  afs_fastapi/api/endpoints/monitoring.py
Due: formatall, mypy-app

docs: Update session state and documentation for agent enforcement integration
  .claude/context/session_state.json
  CHANGELOG.md
  README.md
Due: none

fix(tests): Resolve agricultural API test failures and error handling issues
  .agent_config.py
  .claude/context/session_state.json
  KIS_DIRECTIVE.md
  afs_fastapi/api/core/error_handling.py
  tests/api/test_main.py
Due: formatall, mypy-app, mypy-tests

refactor: Remove all MyPy references and establish PyRight as defacto type checker
  pyproject.toml
  requirements.txt.backup
Due: none

style: Apply comprehensive linting and formatting improvements
  afs_fastapi/core/can_manager.py
  afs_fastapi/database/async_repository.py
  analyze_pyright_errors.py
  analyze_pyright_production_only.py
  pyright_lint_results.json
  test_cli_integration.py
  test_fleet_coordination.py
  test_service_integration.py
  tests/api/test_main.py
  tests/cli/test_updatedocs_real.py
  tests/cli/test_whereweare.py
  tests/services/test_collision_avoidance_system.py
  tests/services/test_emergency_stop_propagation.py
  tests/utilities/api_testing.py
  tests/utilities/timing_testing.py
Due: formatall, mypy-app, mypy-tests

docs: Add user output preference to Claude configuration
  CLAUDE.md
Due: none

refactor: Replace os.getcwd() with Path.cwd() throughout codebase
  CHANGELOG.md
  CLAUDE.md
  scripts/generate_todos_schema.py
  tests/cli/test_example_command.py
  tests/cli/test_updatechangelog.py
  tests/cli/test_updatechangelog_bash_execution.py
  tests/equipment/test_message_prioritization.py
Due: formatall, mypy-tests

fix(tests): Resolve import issues and test failures
  CLAUDE.md
  afs_fastapi/equipment/farm_tractors.py
  tests/cli/test_updatechangelog.py
  tests/cli/test_updatedocs.py
  tests/equipment/test_agricultural_integration.py
Due: formatall, mypy-app, mypy-tests

fix(tests): Resolve async database session conflicts and missing hooks
  CHANGELOG.md
  tests/cli/test_updatedocs.py
  tests/database/test_async_agricural_schemas.py
Due: formatall, mypy-tests

fix(database): Resolve SQLite compatibility and JSONB issues in database optimization
  afs_fastapi/database/can_time_series_schema.py
  afs_fastapi/database/enhanced_time_series_storage.py
  afs_fastapi/database/optimized_db_config.py
  test_optimized_database.db
  tests/database/test_async_agricural_schemas.py
Due: formatall, mypy-app, mypy-tests

final(tests): Achieve 99.3% test pass rate - 890 passed, 6 failed
  .token-sage-env
  CHANGELOG.md
Due: none

fix: Resolve database architecture optimization integration test failures
  afs_fastapi/database/can_time_series_schema.py
  afs_fastapi/database/optimized_db_config.py
  afs_fastapi/monitoring/enhanced_token_usage_logger.py
  test_optimized_database.db
  tests/database/test_async_agricural_schemas.py
Due: formatall, mypy-app, mypy-tests

fix: Resolve 4 additional test failures in CLI and async database tests
  CHANGELOG.md
  test_optimized_database.db
  tests/cli/test_updatedocs_real.py
  tests/database/test_async_agricural_schemas.py
Due: formatall, mypy-tests

fix: Complete resolution of all critical system failures
  .claude/context/session_state.json
  COMPREHENSIVE_VERIFICATION_REPORT.md
  afs_fastapi/api/core/validation_schemas.py
  afs_fastapi/api/endpoints/crud.py
  afs_fastapi/api/endpoints/monitoring.py
  afs_fastapi/api/main.py
  afs_fastapi/database/agricultural_schemas_async.py
  afs_fastapi/database/async_repository.py
  afs_fastapi/database/connection_pool.py
  afs_fastapi/database/optimized_db_config.py
  afs_fastapi/monitoring/async_token_usage_logger.py
  bin/acceptance-status
  bin/todo-status
  docs/CAN_ISOBUS_USAGE_GUIDE.md
  docs/DATABASE_SCHEMA_REFERENCE.md
  docs/async_database_implementation.md
  docs/database/DATABASE_ARCHITECTURE_OPTIMIZATION.md
  docs/strategic/WHERE_WE_ARE.md
  scripts/demo_async_database_improvements.py
  scripts/migrate_to_async_database.py
  scripts/verify_async_components.py
  test_afs_fastapi.db
  test_crud.db
  test_optimized_database.db
  test_verification.db
  tests/cli/test_updatechangelog.py
  tests/database/test_async_agricural_schemas.py
  tests/factories/fleet_coordination_factory.py
  tests/integration/test_database_architecture_optimization.py
  verify_async_implementation.py
Due: formatall, mypy-app, mypy-tests

chore: Clean up project root directory - remove unnecessary temporary files
  .claude/context/session_state.json
  analyze_pyright_errors.py
  analyze_pyright_production_only.py
  final_pyright_analysis.py
  package-lock.json
  package.json
  pyright_lint_results.json
  pyright_results.json
  pyright_results.txt
  pyright_verbose.txt
  test_can_integration.py
  test_cli_integration.py
  test_cross_platform_can.py
  test_fleet_coordination.py
  test_service_integration.py
  tractor_demo.py
  verify_async_implementation.py
Due: formatall

feat: add library structure analysis and test mapping tools
  docs/verification/component_mapping.json
  docs/verification/create_library_inventory.py
  docs/verification/create_test_mapping.py
  docs/verification/library_inventory.md
  docs/verification/test_mapping.json
Due: formatall

feat: Task 2 - Comprehensive FarmTractor verification and analysis
  docs/verification/analyze_farm_tractor.py
  docs/verification/check_implement_position.py
  docs/verification/farm_tractor_complete_verification.py
  docs/verification/farm_tractor_final_conclusion.py
  docs/verification/farm_tractor_verification_summary.py
  docs/verification/investigate_farm_tractor.py
  docs/verification/test_engine_behavior.py
  docs/verification/test_farm_tractor_corrected.py
  docs/verification/test_farm_tractor_database.py
  docs/verification/test_farm_tractor_direct.py
  docs/verification/test_farm_tractor_final.py
  docs/verification/test_farm_tractor_final_working.py
  docs/verification/test_farm_tractor_working.py
  docs/verification/verify_farm_tractor_tests.py
Due: formatall

Path conditions:
  formatall: any of: ^(?!bin/|tmp_).* and \.py$
  mypy-app: any of: ^afs_fastapi/.*\.py$ and \.py$
  mypy-tests: any of: ^tests/.*\.py$ and \.py$
