Repository dderyldowney/afs_fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, isort, black, mypy-app, mypy-tests

.pre-commit-config.yaml:

# Local pre-commit configuration to enforce project quality gates and TDD policy.
# Uses local hooks to avoid network dependency and to run in the active Python env.

repos:
  - repo: local
    hooks:
      - id: ruff
        name: Ruff (lint)
        entry: ruff check
        language: system
        types: [python]
        files: ^(?!bin/|tmp_).*
        files: ^(?!bin/|tmp_).*
      - id: isort
        name: isort (imports check)
        entry: isort
        args: ["--check-only"]
        language: system
        types: [python]
        files: ^(?!bin/|tmp_).*
      - id: black
        name: Black (formatting)
        entry: black
        args: ["--check"]
        language: system
        types: [python]
        files: ^(?!bin/|tmp_).*
      - id: mypy-app
        name: MyPy (app)
        entry: mypy afs_fastapi
        language: system
        types: [python]
        files: ^afs_fastapi/.*\.py$
        pass_filenames: false
      - id: mypy-tests
        name: MyPy (tests)
        entry: mypy tests
        language: system
        types: [python]
        files: ^tests/.*\.py$
        pass_filenames: false
      # - id: pytest
      #   name: Pytest (unit tests)
      #   entry: pytest
      #   language: system
      #   types: [python]
      #   files: ^(?!bin/|tmp_).*
      #   pass_filenames: false
      #   always_run: true

      # Mandatory TDD enforcement (always runs on commit)
      - id: tdd-enforcement
        name: TDD Enforcement
        entry: python .claude/hooks/tdd_enforcement.py
        language: system
        pass_filenames: false
        always_run: true

      # Safety standards validation (ISO 18497 alignment gates)
      - id: safety-validation
        name: Safety Standards Validation
        entry: python .claude/hooks/safety_validation.py
        language: system
        pass_filenames: false
        always_run: true

      - id: doc-update-reminder
        name: Documentation Update Reminder
        entry: bash tools/doc_update_reminder.sh
        language: system
        pass_filenames: false
        always_run: true

docs(update): Added user-specific .claude/optimization_monitoring.jsonand .claude/session_optimization_tracking.json to .gitignore.
  .claude/optimization_monitoring.json
  .claude/session_optimization_tracking.json
  .gitignore
Due: none

fix(tests): repair 49 failing tests across CAN, AI processing, and token usage systems
  afs_fastapi/core/can_frame_codec.py
  afs_fastapi/core/j1939_specs.py
  afs_fastapi/monitoring/token_usage_logger.py
  tests/integration/test_ai_processing_platform_integration.py
  tests/step_defs/test_tractor_can_data.py
  tests/unit/services/test_ai_processing_pipeline.py
Due: ruff, isort, black, mypy-app, mypy-tests

fix(tests): repair J1939 parser validation and BDD test data encoding (4 tests fixed)
  afs_fastapi/core/j1939_parser.py
  tests/features/tractor_can_data.feature
  tests/step_defs/test_tractor_can_data.py
Due: ruff, isort, black, mypy-app, mypy-tests

fix(tests): implement virtual CAN interface for integration testing (1 test fixed)
  afs_fastapi/core/can_hal.py
  tests/integration/can_communication/platform_test.py
  tests/integration/can_communication/tractor_simulator.py
Due: ruff, isort, black, mypy-app, mypy-tests

fix(tests): convert pipeline optimization caching test to async (1 test fixed)
  tests/unit/services/test_ai_processing_pipeline_optimization.py
Due: ruff, isort, black, mypy-tests

fix(config): add token usage database files to .gitignore (prevents git cleanliness test flakiness)
  .gitignore
Due: none

fix(tests): implement singleton reset for token usage API tests (2 tests fixed)
  afs_fastapi/api/endpoints/token_usage.py
  afs_fastapi/monitoring/token_usage_logger.py
  tests/unit/api/test_token_usage_api.py
Due: ruff, isort, black, mypy-app, mypy-tests

fix(tests): ensure clean git state before updatechangelog cleanliness test
  tests/unit/scripts/test_updatechangelog_bash_execution.py
Due: ruff, isort, black, mypy-tests

fix(tests): add pytest-xdist serial marker support for singleton tests
  conftest.py
  tests/unit/monitoring/test_token_usage.py
Due: ruff, isort, black, mypy-tests

fix(tests): correct xdist_group marker syntax
  conftest.py
Due: ruff, isort, black

fix(tests): fix token usage API tests by ensuring proper singleton reset timing
  tests/unit/api/test_token_usage_api.py
Due: ruff, isort, black, mypy-tests

docs: add KNOWN_ISSUES.md with token usage API parallel execution issue
  KNOWN_ISSUES.md
Due: none

fix(tests): configure pytest-xdist with loadscope for singleton test isolation
  bin/runtests
Due: none

docs: update KNOWN_ISSUES.md with root cause analysis and solutions
  KNOWN_ISSUES.md
  bin/runtests
  tests/unit/scripts/test_updatechangelog_bash_execution.py
Due: ruff, isort, black, mypy-tests

style: apply ruff, black, and isort formatting to test files
  tests/unit/api/test_token_usage_api.py
  tests/unit/scripts/test_updatechangelog_bash_execution.py
Due: ruff, isort, black, mypy-tests

feat(todowrite): Complete 12-layer CLI system and flexible hierarchy validation
  TODOWRITE_FLEXIBLE_HIERARCHY_PROOF.md
  ToDoWrite-HOWTO.md
  ToDoWrite/todos.db
  afs_fastapi/todos/manager.py
  bin/acceptance-status
  bin/command-add
  bin/command-execute
  bin/command-status
  bin/concept-add
  bin/concept-status
  bin/constraint-status
  bin/context-status
  bin/create-missing-commands.py
  bin/generate-layer-commands
  bin/goal-add
  bin/goal-complete
  bin/goal-delete
  bin/goal-status
  bin/interface-status
  bin/phase-add
  bin/phase-complete
  bin/phase-delete
  bin/phase-status
  bin/requirement-status
  bin/subtask-complete
  bin/subtask-status
  bin/task-status
  bin/todowrite-commands
  tests/test_flexible_entry_points.py
  tests/test_todowrite_flexible_hierarchy.py
Due: ruff, isort, black, mypy-app, mypy-tests

fix(database): Migrate to SQLAlchemy 2.0 syntax and fix all MyPy errors
  afs_fastapi/database/agricultural_schemas.py
  bin/command-execute
  bin/subtask-complete
  bin/todowrite-commands
  pyproject.toml
  tests/test_todowrite_flexible_hierarchy.py
  tests/unit/database/test_agricultural_database_schemas.py
  tests/unit/equipment/test_can_bus_manager.py
  tests/unit/equipment/test_physical_can_interface.py
Due: ruff, isort, black, mypy-app, mypy-tests

fix(tests): Remove unnecessary type ignore comments from database tests
  tests/unit/database/test_agricultural_database_schemas.py
Due: ruff, isort, black, mypy-tests

feat(tests): Removed unused ignore directive from tests.
  tests/unit/services/test_crdt.py
Due: ruff, isort, black, mypy-tests

db(update): Updated db change.
  ToDoWrite/todos.db
Due: none

Fix: Implement temporary test database for TodoWrite test isolation
  conftest.py
Due: ruff, isort, black

Fix TodoWrite layer hierarchy validation for Command nodes
  .claude/conversation_config.json
  ToDoWrite/todos.db
  afs_fastapi/todos/db/repository.py
  afs_fastapi/todos/manager.py
  tests/integration/test_can_interface_integration.py
  tests/step_defs/test_tractor_can_data.py
  tests/test_flexible_entry_points.py
  tests/test_todowrite_flexible_hierarchy.py
  tests/unit/services/test_ai_processing_pipeline_optimization.py
Due: ruff, isort, black, mypy-app, mypy-tests

Fix subprocess execution errors in test suite
  .claude/conversation_config.json
  afs_fastapi/core/can_frame_codec.py
  afs_fastapi/equipment/can_bus_manager.py
  tests/functional/test_realtime_optimization.py
Due: ruff, isort, black, mypy-app, mypy-tests

fix: resolve test isolation issue in token_usage_logger singleton
  CHANGELOG.md.bak
  afs_fastapi/api/endpoints/token_usage.py
  afs_fastapi/monitoring/token_usage_logger.py
  tests/test_token_usage_temp.db-shm
  tests/unit/api/test_token_usage_api.py
Due: ruff, isort, black, mypy-app, mypy-tests

feat(todos): initialize TodoWrite system with agricultural robotics strategic goals
  ToDoWrite/todos.db
Due: none

fix: resolve critical test suite issues and modernize Python/SQLAlchemy APIs
  afs_fastapi/monitoring/token_usage_logger.py
  afs_fastapi/todos/db/models.py
  tests/unit/monitoring/test_token_usage.py
Due: ruff, isort, black, mypy-app, mypy-tests

feat(todos): complete SQLAlchemy 2.0 type safety migration for TodoWrite system
  PRIORITY_2_2_COMPLETION_SUMMARY.md
  afs_fastapi/database/can_time_series_schema.py
  afs_fastapi/todos/db/repository.py
  afs_fastapi/todos/manager.py
Due: ruff, isort, black, mypy-app

chore: clean out temp files accidently added to repository.
  CHANGELOG.md.bak
  tests/test_token_usage_temp.db-shm
Due: none

feat(app): Ensuring afs_fastapi can run properly as both a library and a standalone app.
  afs_fastapi/__init__.py
  afs_fastapi/main.py
  pyproject.toml
Due: ruff, isort, black, mypy-app

Fix: Resolve SQLite operational errors and test failures and improve test isolation.
  afs_fastapi/monitoring/token_usage_logger.py
  conftest.py
  tests/unit/api/test_token_usage_api.py
  tests/unit/monitoring/test_token_usage.py
  tests/unit/scripts/test_strategic_complete.py
Due: ruff, isort, black, mypy-app, mypy-tests

Feat: Consolidate formatting and linting into a single pre-commit hook.
  .pre-commit-config.yaml
Due: none

Fix: Resolve SQLite operational errors and test failures and improve test isolation.
  afs_fastapi/monitoring/token_usage_logger.py
  tests/unit/api/test_token_usage_api.py
  tests/unit/monitoring/test_token_usage.py
  tests/unit/scripts/test_strategic_complete.py
Due: ruff, isort, black, mypy-app, mypy-tests

Fix: Update Pydantic models to v2 syntax and resolve deprecation warnings.
  afs_fastapi/api/endpoints/token_usage.py
  afs_fastapi/monitoring/token_usage_schemas.py
Due: ruff, isort, black, mypy-app

feat: Implement explicit confirmation after session load
  bin/loadsession
Due: none

docs: Add SESSION_SUMMARY.md to track session state
  SESSION_SUMMARY.md
Due: none

fix(config): Added testing db artifacts to gitignore
  .gitignore
  afs_fastapi/equipment/physical_can_interface.py
  tests/unit/equipment/test_physical_can_interface.py
  tests/unit/services/test_ai_processing_pipeline_optimization.py
Due: ruff, isort, black, mypy-app, mypy-tests

fix(monitoring): Resolve systematic token_logger import failures across test suite
  afs_fastapi/equipment/physical_can_interface.py
  afs_fastapi/monitoring/token_usage_logger.py
  afs_fastapi/monitoring/token_usage_repository.py
  tests/unit/equipment/test_physical_can_interface.py
  tests/unit/monitoring/test_token_usage.py
Due: ruff, isort, black, mypy-app, mypy-tests

feat(config): Disable automatic pytest execution on session load
  .claude/optimization_integration.json
  .claude/settings.json
  bin/check-pytest-auto-disable
  bin/loadsession
Due: none

doc(update): added local settings file for Claude Code to gitignore.
  .gitignore
Due: none

security: Resolve critical HTTP parsing and SSL validation vulnerabilities
  requirements.txt
Due: none
