Repository dderyldowney/afs_fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: formatall, mypy-app, mypy-tests

.pre-commit-config.yaml:

# Local pre-commit configuration to enforce project quality gates and TDD policy.
# Uses local hooks to avoid network dependency and to run in the active Python env.

repos:
  - repo: local
    hooks:
      - id: formatall
        name: Format and Lint (Black, isort, Ruff)
        entry: bin/formatall
        language: system
        types: [python]
        files: ^(?!bin/|tmp_).*
        pass_filenames: false
      - id: mypy-app
        name: MyPy (app)
        entry: mypy afs_fastapi/api/ afs_fastapi/core/ afs_fastapi/database/ afs_fastapi/monitoring/ afs_fastapi/equipment/ afs_fastapi/services/ afs_fastapi/models/ afs_fastapi/protocols/ afs_fastapi/safety/ afs_fastapi/scripts/ afs_fastapi/stations/
        language: system
        types: [python]
        files: ^afs_fastapi/.*\.py$
        pass_filenames: false
      - id: mypy-tests
        name: MyPy (tests)
        entry: mypy tests/
        language: system
        types: [python]
        files: ^tests/.*\.py$
        pass_filenames: false
      # - id: pytest
      #   name: Pytest (unit tests)
      #   entry: pytest
      #   language: system
      #   types: [python]
      #   files: ^(?!bin/|tmp_).*
      #   pass_filenames: false
      #   always_run: true

      # Mandatory TDD enforcement (always runs on commit)
      - id: tdd-enforcement
        name: TDD Enforcement
        entry: python .claude/hooks/tdd_enforcement.py
        language: system
        pass_filenames: false
        always_run: true

      # Safety standards validation (ISO 18497 alignment gates)
      - id: safety-validation
        name: Safety Standards Validation
        entry: python .claude/hooks/safety_validation.py
        language: system
        pass_filenames: false
        always_run: true

      - id: doc-update-reminder
        name: Documentation Update Reminder
        entry: bash tools/doc_update_reminder.sh
        language: system
        pass_filenames: false
        always_run: true

feat: verify API endpoints use real implementation
  docs/verification/test_api_real_requests.py
  docs/verification/verify_api_startup.py
Due: formatall

feat: complete Task 4 - Database Layer Verification
  docs/verification/test_database_integration_simple.py
  docs/verification/test_database_operations.py
  docs/verification/verify_database_connection.py
  docs/verification/verify_database_connection_simple.py
  docs/verification/verify_database_schemas.py
Due: formatall

feat: verify CAN bus real implementation and test coverage
  docs/verification/test_can_functionality.py
  docs/verification/verify_can_bus.py
  docs/verification/verify_can_bus_simple.py
Due: formatall

feat: complete Task 6 - comprehensive test suite analysis and verification
  docs/verification/analyze_test_suite.py
  docs/verification/generate_verification_report.py
  docs/verification/test_suite_analysis.json
  docs/verification/verification_report.md
Due: formatall

feat: add comprehensive final integration test for Task 7
  docs/verification/final_integration_test.py
  docs/verification/minimal_integration_test.py
Due: formatall

fix: Resolve critical Task 7 integration issues - achieve 100% test success
  afs_fastapi/api/endpoints/crud.py
  afs_fastapi/core/todowrite_config.py
  afs_fastapi/core/todowrite_mock.py
  docs/verification/analyze_farm_tractor.py
  docs/verification/analyze_test_suite.py
  docs/verification/check_implement_position.py
  docs/verification/farm_tractor_complete_verification.py
  docs/verification/farm_tractor_final_conclusion.py
  docs/verification/farm_tractor_verification_summary.py
  docs/verification/final_integration_test.py
  docs/verification/generate_verification_report.py
  docs/verification/investigate_farm_tractor.py
  docs/verification/minimal_integration_test.py
  docs/verification/test_api_real_requests.py
  docs/verification/test_can_functionality.py
  docs/verification/test_database_integration_simple.py
  docs/verification/test_database_operations.py
  docs/verification/test_engine_behavior.py
  docs/verification/test_farm_tractor_corrected.py
  docs/verification/test_farm_tractor_database.py
  docs/verification/test_farm_tractor_direct.py
  docs/verification/test_farm_tractor_final.py
  docs/verification/test_farm_tractor_final_working.py
  docs/verification/test_farm_tractor_working.py
  docs/verification/verify_api_startup.py
  docs/verification/verify_can_bus.py
  docs/verification/verify_can_bus_simple.py
  docs/verification/verify_database_connection.py
  docs/verification/verify_database_connection_simple.py
  docs/verification/verify_database_schemas.py
  docs/verification/verify_farm_tractor_tests.py
  test_verification.db
  todowrite.py
Due: formatall, mypy-app

docs: complete library verification documentation and update README
  README.md
  docs/verification/library_verification_summary.md
Due: none

feat: comprehensive library verification with triple-verification methodology
  CHANGELOG.md
  docs/verification/verify_database_connection.py
Due: formatall

docs: add comprehensive analysis of 14% non-real implementations
  docs/verification/non_real_implementation_analysis.md
  requirements.txt
Due: none

feat: replace todowrite mock with real library implementation
  CHANGELOG.md
  afs_fastapi/api/endpoints/todos.py
  afs_fastapi/core/todowrite_config.py
  afs_fastapi/core/todowrite_mock.py
  pyproject.toml
  requirements.txt
  test_optimized_database.db
  todowrite.py
Due: formatall, mypy-app
